export DOTFILES=$HOME/dotfiles
export LSCOLORS="exfxcxdxbxegedabagacad"
export CLICOLOR=true

# Make cursor the default editor.
export EDITOR='cursor';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don't clear the screen after quitting a manual page.
export MANPAGER='less -X';

# git-fuzzy: use delta as the pager
export GF_PREFERRED_PAGER="delta"
